@font-face {
    font-family: 'Montserrat-Black';
    src: url('../assets/Montserrat/static/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../assets/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../assets/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('../assets/Montserrat/static/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('../assets/Montserrat/static/Montserrat-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../assets/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('../assets/Montserrat/static/Montserrat-ExtraLight.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 1920px;
    max-height: 1080px;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
}
.close-icon {
   margin-right: 1px;
}

.close-circle {
    position: absolute;
    background-color: black;
    height: 40px;
    width: 40px;
    right: -20px;
    top: 17px;

    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.configure-button {
    margin-top: 20px;


    width: 150px;
    height: 45px;
    font-family: 'Montserrat-Light';
    font-size: 18px;
    background-color: transparent;


    border: 1px solid black;
}

.config-screen {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 90%;
    height: 95%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: white;
    transition: bottom 0.3s ease-out;
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.workout-config {
    width: 80%;
    height: 375px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .standard.SetsAndReps {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  .standard.sets,
  .standard.reps {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    
    
  }
  
  .incrementor {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      gap: 20px;
  }
  
  .incrementor button {
      width: 100px;
      height: 60px;
      font-size: 20px;
      border-radius: 10px;
      background-color: #2d2d2d;
      border: 1px solid #ccc;
      color: white;
      cursor: pointer;
  }
  
  .incrementor span {
      margin: 0 10px;
      font-size: 35px;
      min-width: 20px;
      font-family: Montserrat-Bold;
      text-align: center;
  }
  
  /* Add more specific styles for each workout type if needed */
  .workout-config.standard {
    display: flex;
    flex-direction: column;
  }

 .standard.weight {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .standard.pounds-text {
    font-family: Montserrat-Regular;
    font-size: 20px;
    width: 110px;
  }

  .standard.weight-text {
    font-family: Montserrat-Regular;
    font-size: 20px;
  }

  .standard.sets {
    flex: 1;
  
  }

  .standard.reps {
    flex: 1;

  }
  
  .workout-config.loading-eccentric {
    /* Styles specific to loading eccentric workout */
  }
  
  .workout-config.dropset {
    /* Styles specific to dropset workout */
  }

.config-close-button {
    margin-top: 10px;
    padding: 20px 60px;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Montserrat-Regular;
}

.workout-type-selector {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    border-radius: 25px;
    padding: 5px;
    position: relative;
    margin: 20px auto;
    width: 70%;
    height: 50px;
}

.workout-type-selector .option {
    flex: 1;
    display: flex;
   justify-content: center;
   align-items: center;
  
    cursor: pointer;
    z-index: 1;
    transition: color 0.3s ease;
    font-family: Montserrat-Regular;
}

.workout-type-selector .option.selected {
    color: white;
}

.workout-type-selector .selector {
    position: absolute;
    background-color: #000;
    width: calc(33.33% - 10px);
    height: calc(100% - 10px);
    border-radius: 20px;
    top: 5px;
    left: 5px;
    transition: transform 0.3s ease;
}

.workout-type-selector .option:nth-child(2).selected ~ .selector {
    transform: translateX(102%);
}

.workout-type-selector .option:nth-child(3).selected ~ .selector {
    transform: translateX(207%);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 999;
    filter: blur(80px);
  -webkit-filter: blur(80px);
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.config-screen {
    /* ... existing styles ... */
    z-index: 1000;
}

.config-screen.open {
    bottom: 0;
}


.root {
    flex: 1;
    max-width: 1920px;
    max-height: 1080px;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    background-image: url('../assets/background.jpg');
    background-size: 110%;
    border: none;
    outline: none;
    flex-direction: column;
}

.menu-bar {
    position: fixed;
    top: 1px;
    left: -320px;
    width: 300px;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.menu-bar.open {
    left: 0;
}

.logoutArea {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    gap: 20px;
}

.logout-text {
    font-family: Montserrat-ExtraLight;
    color: rgb(224, 50, 50);
    font-size: 20px;
}

.logout-icon {
    color: red;
}
  
.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Montserrat-ExtraLight;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 15px;
    gap: 15px;
}

.user-icon {
    border: 2px solid black;
    border-radius: 50px;
}
  

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}
  
  .close-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    /* Style your close button as needed */
  }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    justify-content: center;
    position: relative;

}

.header-text {
    font-family: Montserrat-Regular;
    font-size: 45px;
    margin-top: 20px;
}

.right-header {
    position: absolute;
    right: 0;
    font-family: Montserrat-ExtraLight;
    font-size: 12px;
    top: 0px;

    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
}

.time {
    position: absolute;
    top: 19px;
    right: 65px;
    font-family: Montserrat-Regular;
    font-size: 20px;
}

.settings-icon {
    position: absolute;
    right: 20px;
    top: 15px;

}

.workout-container {
    display: flex;
    width: 100%;
    height: 85%;
    flex-direction: row;
}

.currWorkout {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    
}

.workout-rectangle {
    background-color: transparent;
    height: 90%;
    width: 85%;
    padding: 10px;
    border-radius: 20px;
    ;
    border: 1px solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.workout-text {
    font-family: Montserrat-Extralight;
    font-size: 31px;
}

.sets-circle-container {
    height: 210px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}

.sets-text {
    font-family: Montserrat-Light;
}

.stats-circle-container {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.setNumber {
    font-family: Montserrat-Bold;
    font-size: 70px;
    position: absolute;
    top: 83px;
    left: 70px;
  
    margin-bottom: 5px;;
  }
  
  .setNumberSmaller {
    font-family: Montserrat-Bold;
    font-size: 20px;
    position: absolute;
    top: 50px;
    left: 27px;
  
    margin-bottom: 5px;;
  }

.reps-circle-container {
    height: 210px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: relative;
}

.skeuContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.line {
    width: 2px;
    height: 200px;
    background-color: black;
    position: relative;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: px; /* Center the ball horizontally relative to the line */
}

.increment-button {
    position: absolute;
    bottom: 10px;
    font-family: Montserrat-Regular;
    background-color: transparent;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid black;
}

.reps-text {
    font-family: Montserrat-Light;
}


.model {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.sliders {
    flex: 1;

    display: flex;
    gap: 50px;
    height: 95%;

}

.weight-slider-container {
    height: "100%";
    margin-left: 30px;
    width: 125px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.height-slider-container {
    height: "100%";

    width: 125px;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.weight-slider {
    width: 40%;
    height: 500px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
    border-image: linear-gradient(#000, #fff) 20;
    border-width: 1px;
    border-style: solid;
}

.horizontal-weight-slider {
    width: 600px;
    height: 50%;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
    border-image: linear-gradient(to left, #000, #fff) 20;
    border-width: 1px;
    border-style: solid;
}

.horizontal-gradient-fill {
    background: -webkit-linear-gradient(180deg, #000, #fff);
    height: 100%;
    position: absolute;
    left: 0;
    transition: width 0.05s linear;
}


.circle {
    transition: stroke-dashoffset 1s ease-in-out;
  }

.inches-slider {
    width: 40%;
    height: 500px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
    border-image: linear-gradient(#000, #fff) 20;
    border-width: 1px;
    border-style: sFolid;
}

.gradient-fill {
    background: -webkit-linear-gradient(90deg, #fff, #000);
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: height 0.05s linear;
}

.height-gradient-fill {
    background: -webkit-linear-gradient(90deg, #fff, #000);
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: height 0.05s linear;
}



.weight-text {
    font-family: Montserrat-ExtraLight;
    font-size: 28px;
    ;

}

.height-text {
    font-family: Montserrat-ExtraLight;
    font-size: 28px;
    ;

}

.pounds-text {
    font-family: Montserrat-Regular;
    font-size: 28px;
    ;

}

.inches-text {
    font-family: Montserrat-Regular;
    font-size: 28px;
    ;

}

.full-machine {
    height: 460px;
    margin-top: 50px;
    margin-left: 10px;
    position: absolute;
}


.bottom-machine {
    height: 180px;
    margin-top: 380px;
    position: absolute;
    margin-left: 10px;


}

.menu-icon {
    position: absolute;
    left: 20px;
    top: 15px;
}

.start-button {
    margin-bottom: 500px;
    width: 150px;
    height: 45px;
    font-family: 'Montserrat-Light';
    font-size: 28px;
    background-color: transparent;


    border: 1px solid black;
}